<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cysion.sample">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditTextActivity">
        </activity>
        <activity android:name=".activity.ViewPagerActivity">
        </activity>
        <activity android:name=".activity.AnimatorActivity">
        </activity>
        <activity android:name=".activity.OtherActivity">
        </activity>
        <activity android:name=".activity.other.EditExActivity">
        </activity>
        <activity android:name=".activity.ListActivity">
        </activity>
        <activity android:name=".activity.RecyclerActivity">
        </activity>
        <activity android:name=".activity.SeekBarActivity">
        </activity>
    </application>

</manifest>